input{
    width:100%;
    height:100%;
    outline:none;
    font-size:12px;
    min-height:30px;
    padding-left:8px;
    border:1px #E4E4E4 solid;
}

/* Current style for the date picker positioned below the input */
.tether-element.tether-element-attached-top.tether-element-attached-center.tether-target-attached-bottom.tether-target-attached-center.tether-enabled {
    position: absolute;
    z-index: 10;
}

/* New style for the date picker positioned above the input */
.tether-element.tether-element-attached-bottom.tether-element-attached-center.tether-target-attached-top.tether-target-attached-center.tether-enabled {
    position: absolute;
    z-index:10;
}


/* Main container */
.calendarContainer {
    width: 240px !important;  /* Adjust the width */
    padding: 10px !important; /* Adjust padding */
    font-size: 0.9em !important; /* Scale down the entire component */
}

/* Adjust day button size */
.calendarContainer .dayWrapper button {
    width: 30px !important;  /* Adjust day button width */
    height: 30px !important; /* Adjust day button height */
}